.normal-button {
    font-family: sans-serif;
    font-size: 2em;
    font-style: bold;
    background-color: rgb(19, 61, 14);
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    color: white;
    border-style: none;
    transition-duration: 250ms;
}

.normal-button:hover {
    background-color: rgb(8, 38, 4);
}

.normal-button:active {
    background-color: rgb(13, 113, 85);
}

