body {
    background-color: black;
    color: white;
}

#big-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}

#subtitle {
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

#stack-list {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.stack-button {
    background-color: rgb(2, 8, 71);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    user-select: none;
    transition-duration: 250ms;
}

.stack-button:hover {
    background-color: rgb(2, 8, 51);
}

.stack-button:active {
    background-color: rgb(3, 11, 94);
}

.stack-button h1 {
    font-style: bold;
    font-family: sans-serif;
    text-align: center;
}

.stack-button p {
    text-align: center;
}

#button-create-stacks-container {
    display: grid;
    justify-items: center;
}

#create-stack-title {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
}

#create-stack-form {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
}

#create-stack-form input {
    margin: 0.5em;
}

.text-input {
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 1em;
    min-width: 25em;
    border-radius: 1em;
    border-style: none;
    background-color: rgb(0, 5, 64);
    color: white;
    transition-duration: 250ms;
}

.text-input:select {
    border-style: none;
}
