body {
    background-color: black;
    color: white;
}

#big-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}

#subtitle {
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

#stack-list {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.stack-button {
    background-color: rgb(2, 8, 71);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    user-select: none;
    transition-duration: 250ms;
}

.stack-button:hover {
    background-color: rgb(2, 8, 51);
}

.stack-button:active {
    background-color: rgb(3, 11, 94);
}

.stack-button h1 {
    font-style: bold;
    font-family: sans-serif;
    text-align: center;
}

.stack-button p {
    text-align: center;
}

#button-create-stacks-container {
    display: grid;
    justify-items: center;
}

#button-create-stacks {
    font-family: sans-serif;
    font-size: 2em;
    font-style: bold;
    background-color: rgb(19, 61, 14);
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    color: white;
    border-style: none;
    transition-duration: 250ms;
}

#button-create-stacks:hover {
    background-color: rgb(8, 38, 4);
}

#button-create-stacks:active {
    background-color: rgb(13, 113, 85);
}

