body {
    background-color: black;
    color: white;
}

#big-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    #big-title {
        font-size: 10em;
    }

    #subtitle {
        font-size: 1em;
    }

    .stack-button {
        font-size: 2em;
    }

    #no-stacks-message {
        font-size: 2em;
        max-width: 48em;
    }
}

#subtitle {
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

#stack-list {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.stack-button {
    background-color: rgb(2, 8, 71);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    user-select: none;
    transition-duration: 250ms;
}

.stack-button:hover {
    background-color: rgb(2, 8, 51);
}

.stack-button:active {
    background-color: rgb(3, 11, 94);
}

.stack-button h1 {
    font-style: bold;
    font-family: sans-serif;
    text-align: center;
}

.stack-button p {
    text-align: center;
}

#button-create-stacks-container {
    display: grid;
    justify-items: center;
}

#create-stack-title {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
}

#create-stack-form {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
}

#no-stacks-message {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 5em;
    color: grey;
    text-align: center;
    border-radius: 1em;
    background-color: rgb(0, 0, 32);
    user-select: none;
}

@media screen and (max-width: 1200px) {
    #no-stacks-message {
        max-width: 48em;
    }
}

#create-stack-cancel-button {
    background-color: rgb(20, 20, 20);
}

#create-stack-cancel-button:hover {
    background-color: rgb(10, 10, 10);
}

#create-stack-cancel-button:active {
    background-color: rgb(50, 50, 50);
}
